.navbar {
	background: rgb(232,113,9); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(232,113,9,1) 0%, rgba(232,53,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(232,113,9,1) 0%,rgba(232,53,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(232,113,9,1) 0%,rgba(232,53,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e87109', endColorstr='#e83509',GradientType=0 ); /* IE6-9 */

}

.navbar-brand {
	width: 100px;
}

.navbar-brand > img {
	float: right;
}

ul.navbar-nav li {
}

.navbar .navbar-nav>li>a {
	font-size: 1.2em;
	font-weight:700;
	color: white;	
	text-shadow: 0.5px 0.5px 0.5px black;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:active {
	background:#f9bc24;
	color:#dc3d08;
	text-shadow: 0.5px 0.5px 0.5px #FFF;
}
.navbar .navbar-toggle {
    border-color: #ddd;
}
.navbar .navbar-toggle:hover {
	background-color: #ddd;
}

.navbar .navbar-toggle .icon-bar {
	background-color: white;
}

